################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sprout.Exam.WebApp/Sprout.Exam.Business/obj
/Sprout.Exam.WebApp/Sprout.Exam.Common/bin/Debug/netcoreapp3.1
/Sprout.Exam.WebApp/.vs/ProjectEvaluation
/Sprout.Exam.WebApp/Sprout.Exam.Business/bin/Debug/netcoreapp3.1
/Sprout.Exam.WebApp/Sprout.Exam.DataAccess/obj
/Sprout.Exam.WebApp/Sprout.Exam.Common/obj/Debug/netcoreapp3.1
/Sprout.Exam.WebApp/Sprout.Exam.Common/obj
/Sprout.Exam.WebApp/.vs/Sprout.Exam.WebApp
/Sprout.Exam.WebApp/Sprout.Exam.DataAccess/bin/Debug/netcoreapp3.1
Sprout.Exam.WebApp/.idea/config/applicationhost.config
Sprout.Exam.WebApp/.idea/.idea.Sprout.Exam.WebApp/.idea/vcs.xml
Sprout.Exam.WebApp/.idea/.idea.Sprout.Exam.WebApp/.idea/indexLayout.xml
Sprout.Exam.WebApp/.idea/.idea.Sprout.Exam.WebApp/.idea/encodings.xml
/Sprout.Exam.WebApp/Sprout.Exam.DataAccess/bin/Debug/net5.0
/Sprout.Exam.WebApp/Sprout.Exam.DataAccess/bin/Debug/net5.0/Sprout.Exam.DataAccess.deps.json
/Sprout.Exam.WebApp/Sprout.Exam.DataAccess/bin/Debug/net5.0/Sprout.Exam.DataAccess.dll
/Sprout.Exam.WebApp/Sprout.Exam.DataAccess/bin/Debug/net5.0/Sprout.Exam.DataAccess.pdb
/Sprout.Exam.WebApp/Sprout.Exam.DataAccess/bin/Debug/net5.0/Sprout.Exam.DataAccess.runtimeconfig.dev.json
/Sprout.Exam.WebApp/Sprout.Exam.DataAccess/bin/Debug/net5.0/Sprout.Exam.DataAccess.runtimeconfig.json
